@import "tailwindcss";

@theme {
  --color-primary: #f00;
  --color-gradient: "bg-gradient-to-br from-neutral-800 via-neutral-900 to-primary";
}

html,
body {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #500 #000;
  color-scheme: dark;
}

body {
  background: linear-gradient(#0009, #000),
    url(https://imgs.search.brave.com/sSloMv261ADIsWgpUDjZgvZHCRrLluiW8uHYQMUied4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcmVk/LWFic3RyYWN0LWJh/Y2tncm91bmQtamQ3/dGt2c3hnNDY4MjVl/OS5qcGc)
      no-repeat center center;
  background-size: cover;
  color: var(--color-primary-text);
}

.swiper-slide-active {
  opacity: 1 !important;
  z-index: 3;
  position: relative;
}

.active-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-12deg);
  animation: shimmer 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 2.5s;
  z-index: 20;
  pointer-events: none;
  border-radius: inherit;
  backdrop-filter: blur(12px);
}

@keyframes shimmer {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
  }
}
