@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/autoplay";

@theme {
  --color-primary: #f00;
  --color-gradient: "bg-gradient-to-br from-neutral-800 via-neutral-900 to-primary";
}

html,
body {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #500 #000;
  color-scheme: dark;
}

body {
  background: linear-gradient(#0009, #000),
    url(https://imgs.search.brave.com/sSloMv261ADIsWgpUDjZgvZHCRrLluiW8uHYQMUied4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcmVk/LWFic3RyYWN0LWJh/Y2tncm91bmQtamQ3/dGt2c3hnNDY4MjVl/OS5qcGc)
      no-repeat center center;
  background-size: cover;
  color: var(--color-primary-text);
}
